.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  
  .cell {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
  }

  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  